


.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.graph-container {
  min-width: 100vh;
  min-height: 100vh;
}

.black-text {
  color: #282c34;
}


svg.custom .node text{
  font-size: 14px;
  fill: #F4F4F4;
}

svg.custom .node circle{
  fill: #F4F4F4;
}

svg.custom path.link{
  fill: none;
  stroke: #2593B8;
  stroke-width: 1.5px;
}