

h1, h2, h3 {
  text-decoration: underline;
}

.App {
  text-align: center;
  font-family: 'Courier New', sans-serif;
}

.App-header {
  background-color: #3e6fca;
  min-height: 100vh;
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-header-low {
  background-color: #4686ff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.graph-container {
  min-width: 100vh;
  min-height: 100vh;
}

.black-text {
  color: #282c34;
}


svg.custom .node text{
  font-size: 14px;
  fill: #F4F4F4;
}

svg.custom .node circle{
  fill: #F4F4F4;
}

svg.custom path.link{
  fill: none;
  stroke: rgb(233, 233, 233);
  stroke-width: 1.5px;
}

.background-image{
  height: 100%;
  width: 100%;
  background-image: url("../Images/cool.jpg");
}

.line-1{
  position: relative;
  top: 50%;  
  width: 1em;
  margin: 0 auto;
  border-right: 2px solid rgba(255,255,255,.75);
  font-size: 180%;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  transform: translateY(-50%);    
}

.line-2{
  position: relative;
  top: 50%;  
  width: 24em;
  margin: 0 auto;
  border-right: 2px solid rgba(255,255,255,.75);
  font-size: 100%;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  transform: translateY(-50%);    
}


.large-photo {
  width: 1000px;
}

.small-photo {
  width: 40px;
}

/* Animation */
.anim-typewriter{
  animation: typewriter 4s steps(44) 1s 1 normal both,
             blinkTextCursor 500ms steps(44) infinite normal;
}
.anim-typewriter-2{
  animation: typewriter-2 4s steps(44) 1s 1 normal both,
             blinkTextCursor 500ms steps(44) infinite normal;
}

@keyframes typewriter-2{
  from{width: 0;}
  to{width: 10em;}
}
@keyframes typewriter{
  from{width: 0;}
  to{width: 40em;}
}
@keyframes blinkTextCursor{
  from{border-right-color: rgba(255,255,255,.75);}
  to{border-right-color: transparent;}
}

