


.App {
  text-align: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.App-header {
  background-color: #4686ff;
  min-height: 100vh;
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-header-low {
  background-color: #4686ff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.graph-container {
  min-width: 100vh;
  min-height: 100vh;
}

.black-text {
  color: #282c34;
}


svg.custom .node text{
  font-size: 14px;
  fill: #F4F4F4;
}

svg.custom .node circle{
  fill: #F4F4F4;
}

svg.custom path.link{
  fill: none;
  stroke: rgb(233, 233, 233);
  stroke-width: 1.5px;
}

.background-image{
  height: 100%;
  width: 100%;
  background-image: url("../Images/cool.jpg");
}
